* {
  margin: 0;
  padding: 0;
 
}

#banner{
  width: 1925px;
  height: 1200px;
  background-image: url("./imagenes/hockey_2.jpg");
  position: relative;
  top: 0;
  left: 0;
  /*widows:100%;*/
  /*height: calc(108vh - 50px);*/
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 10px 10px 10px;
  padding: 300px 300px 1500px 300px;
  
  
}

#header{
  height: 100%;
  width: 100%;
 /* background: white;*/
  background-image: url("./imagenes/design1_image1.jpg");
  background-repeat: no-repeat;
  
  
}

h1{
  font-family:cursive;
  font-size:700%;
  color:white;
  

}

#nav{
  height: 10%;
  background: black;
  margin: 0.2em;
  position: static;
  

}

h2{
  color:white;
  font-family:cursive;
  font-size: 500%;
  position: static;
  left: 7em;
}

#logo{
  height: 50%;
  width: 50%;
 /* background: white;*/
  background-image: url("./imagenes/Logo_Mighty_ducks-01.png");
  background-repeat: no-repeat;
  position: relative;
  left: 90em;
  bottom: 17em;    
}

#Menu a{
  height: 15%;
  width: 15%;
  /*background: white;*/
  color: cornflowerblue;
   font-size: 180%;
   font-family: cursive;
   display: block;
   position: relative;
   left: 0.5em;
   bottom: 22em;
   margin: 4em;
   
 
}
#section{
  width: 1455px;
  height: 700px;
  /*background: white;*/
  font-size: 180%;
  font-family: cursive;
  position: relative;
  left: 15em;
  bottom: 38em;
  margin: 1em;
    
}

h3{
  font-size: 100%;
  font-style: italic;
}

h2{
  font-size: 500%;
  font-family: cursive;
  position: relative;
  left: 9.5em;
}
pre{
  font-family: cursive;
 
}
#imagen-2{
  max-width: 50%;
  min-height: 50%;
  background-image: url("./imagenes/hockey_2.jpg");
  background-repeat: no-repeat;
  position: relative;
  left: 85em;
  bottom: 70rem;
}


#imagen-3{
  max-width: 50%;
  min-height: 50%;
  background-image: url("./imagenes/hockey_3.jpg");
  background-repeat: no-repeat;
  position: relative;
  bottom: 109rem;
  left: 1rem;
 
  
}